#covid-table {
    border: 1px solid #000000;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

#covid-table td,
#covid-table th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}

#covid-table tbody td {
    font-size: 13px;
}

#covid-table thead {
    border-bottom: 2px solid #444444;
}

#covid-table thead th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}

#covid-table thead th:first-child {
    border-left: none;
}

#covid-table tfoot td {
    font-size: 14px;
}

#covid-table tfoot .links {
    text-align: right;
}

#covid-table tfoot .links a {
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
}